<template>
    <div class="upload-container">
      <el-upload
        class="upload-demo"
        ref="upload"
        list-type="picture-card"
        action="http://upload.qiniu.com/"
        :multiple="false"
        :on-change="onChange"
        :http-request="upload"
        :file-list="fileList"
        :show-file-list="showFiles"
        :on-remove="onRemove"
        >
        <i class="el-icon-upload"></i>
      </el-upload>
    </div>
</template>

<script>
  import { ImgDomain } from '../utils/const'
  import fetch from 'isomorphic-fetch';
  import { QiniuToken } from '../api'
  import { mapActions, mapState, createNamespacedHelpers } from 'vuex'

  const auth = createNamespacedHelpers('auth')
    
    export default {
      props: {
        showFiles: Boolean, 
        multiple: Boolean, 
        value: {
          type: Array,
        }},
    	data(){
    		return {
          currentFile: null,
          fileList: [...this.value]
    		}
    	},
    	created(){
        
    	},
    	computed: {
        ...auth.mapState(['qiniuToken']),
      },
      watch: {
        value: function(newV, old){
          this.fileList = newV
        }
      },
      methods: {
        ...auth.mapActions(['fetchToken']),

        onChange (file, fileList) {
          this.currentFile = file
        },
        upload(){
          let token;
          this.fetchToken({
            resolve: res => {
              token = res.result;
              token && this.toUpload(token)
            }
          })
        },
        onSuccess (res, file, fileList) {
          let url = ImgDomain + res.key;
        },
        onRemove (file, fileList) {
          this.fileList = fileList;
          this.$emit('update', [...this.fileList])
          console.log('fileList', fileList);
        },
        beforeAvatarUpload(file) {
          const isRightType = (file.type === 'image/jpeg') || (file.type === 'image/png');
          const isLt2M = file.size / 1024 / 1024 < 2;

          if (!isRightType) {
                this.$message.error('上传头像图片只能是 JPG 格式!');
          }
          if (!isLt2M) {
                this.$message.error('上传头像图片大小不能超过 2MB!');
          }
          return isRightType && isLt2M;
        },
        toUpload (token) {
          const {raw, name} = this.currentFile
          const data = new FormData()
          data.append('key', Date.now() + name)
          data.append('token', token)
          data.append('file', raw, name)
          if(data){
            fetch('http://upload.qiniu.com/', {
                body: data, 
                method: 'POST',
              })
              .then(res => res.json())
              .then(data => {
                const {key} = data
                if(!this.multiple){
                  this.fileList = [{
                    name,
                    url: ImgDomain + key
                  }]
                }else{
                  this.fileList.push({
                    name,
                    url: ImgDomain + key
                  })
                }
                this.$emit('update', [...this.fileList])
                this.$message({
                  type: 'success',
                  message: '上传成功！'
                })
              }).catch(err => {
                  this.$message({
                    type: 'error',
                    message: '上传出错，请稍后再试'
                  })
                  console.log(err.message)
              })

          }
        }
      }
    }
</script>

<style lang="less">
	@import '../style/mixin';

</style>
