<template>
    <div class="header_container">

			<el-breadcrumb separator="/">
				<el-breadcrumb-item :to="{ path: '/manage' }">首页</el-breadcrumb-item>
				<el-breadcrumb-item v-for="(item, index) in $route.meta" key="index">{{item}}</el-breadcrumb-item>
			</el-breadcrumb>
			<div>
				<el-button type="primary"
				           size='medium' 
				           class="header-button" 
									 v-if="createBtn" 
									 icon="el-icon-search"
									 @click="onClickCreate">创建</el-button>
				<el-dropdown @command="handleCommand" size="medium" split-button type="primary" class="admin-menu">
					{{user.name || 'admin'}}
					<el-dropdown-menu slot="dropdown">
						<el-dropdown-item command="home">首页</el-dropdown-item>
						<el-dropdown-item command="singout">退出</el-dropdown-item>
					</el-dropdown-menu>
				</el-dropdown>
			</div>
    </div>
</template>

<script>
	import {mapActions, mapState, createNamespacedHelpers} from 'vuex'

	const auth = createNamespacedHelpers('auth')
	
    export default {
			props: {
				buttons: Array
			},
    	data(){
    		return {
    			
    		}
    	},
    	created(){
		
    	},
    	computed: {
			...auth.mapGetters(['user']),
			createBtn: function(){
					return this.buttons && this.buttons.find(v => v.name === 'create')
			 },
			onClickCreate: function(){
				const item = this.buttons && this.buttons.find(v => v.name === 'create')
				return item ? item.onClick : null
			 } 
    	},
		methods: {
			...auth.mapActions(['signOut']),
			async handleCommand(command) {
				if (command == 'home') {
					console.log('this.user', this.user)
					this.$router.push('/');
				}else if(command == 'singout'){
					this.signOut({
						resolve: ()=> {
							this.$router.push('/login');
							this.$message({
								type: 'success',
								message: '退出成功'
							});
						}
					})
				}
			},
		}
    }
</script>

<style lang="less">
	@import '../style/mixin';
	.header_container{
		background-color: #EFF2F7;
		height: 60px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 20px;
	}
	.admin-menu {
		margin-right: 20px;
	}
	.el-dropdown-menu__item{
        text-align: center;
		}
	.header-button {
		margin: 0 40px
	}	
</style>
