<template>
    <div class="fillcontain">
        <head-top :buttons="buttons"></head-top>
        <div class="table_container">
            <el-table
                :data="list"
                :row-key="row => row.index"
                style="width: 100%"
                :stripe="true">
                <el-table-column
                  label="ID"
                  prop="id"
                  :width="100">
                </el-table-column>
                <el-table-column
                  label="配图"
                  prop="pic">
                  <template slot-scope="scope">
                      <img :src="scope.row.pic" class="table-cell-img">
                  </template>
                </el-table-column>
                <el-table-column
                  label="标题"
                  prop="title"
                  :min-width="150">
                </el-table-column>
               <!-- <el-table-column
                  label="摘要"
                  prop="summary">
                  <template slot-scope="scope">
                      <el-tooltip class="item" effect="dark" :content="scope.row.summary" placement="top">
                          <p class="table-cell-summary">
                                {{scope.row.summary}}
                          </p>
                      </el-tooltip>
                  </template>
                </el-table-column> -->
                <!-- <el-table-column
                  label="链接"
                  prop="url">
                  <template slot-scope="scope">
                      <el-tooltip class="item" effect="dark" :content="scope.row.url" placement="top">
                          <p class="table-cell-summary">
                                {{scope.row.url}}
                          </p>
                      </el-tooltip>
                  </template>
                </el-table-column> -->
                <el-table-column
                  label="分类"
                  prop="categoryId"
                  :formatter="renderCategaryCell"
                  >
                </el-table-column>
                <el-table-column label="操作" width="160">
                  <template slot-scope="scope">
                    <el-button
                      size="small"
                      @click="handleEdit(scope.row)">编辑</el-button>
                    <el-button
                      size="small"
                      type="danger"
                      @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                  </template>
                </el-table-column>
            </el-table>
            <div class="Pagination">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-sizes="[10, 20, 50]"
                  :page-size="s"
                  layout="sizes, total, prev, pager, next"
                  :total="total">
                </el-pagination>
            </div>
            <el-dialog title="修改资讯信息" v-model="updateModalVisible" class="goods-update-dialog">
                <el-form :model="updateItem" :rules="rules" ref="articleUpdateForm">
                    <el-form-item label="标题" label-width="100px" prop="title">
                        <el-input v-model="updateItem.title" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="摘要" label-width="100px" :autosize="true">
                        <el-input type="textarea" :rows="2" v-model="updateItem.summary"></el-input>
                    </el-form-item>
                    <el-form-item label="链接" label-width="100px">
                        <el-input type="textarea" :rows="2" v-model="updateItem.url"></el-input>
                    </el-form-item>
                    <el-form-item label="分类" label-width="100px" required>
	                    <el-select v-model="updateItem.categoryId" placeholder="请选择分类">
						    <el-option
						      v-for="item in articleCategories"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
                    </el-form-item>
                    <el-form-item label="配图" label-width="100px">
                        <upload 
                        :showFiles="true"
                        :multiple="false"
                        :value="images"
                        @update="val => images = val"
                        ></upload>
                    </el-form-item>
                </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="updateModalVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleOk('articleUpdateForm')">确 定</el-button>
              </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import upload from '../components/elUpload'
    import { ArticleCategories } from '../utils/const'
    import { mapActions, createNamespacedHelpers } from 'vuex'

    const article = createNamespacedHelpers('article');

    export default {
        data(){
            return {
                specs: [],
                city: {},
                s: 10,
                images: [],
                currentPage: 1,
                updateItem: {},
                updateModalVisible: false,
                articleCategories: ArticleCategories,
                buttons: [{name: 'create', onClick: this.handleEdit}],
                rules: {
                    title: [
                        { required: true, message: '请输入商品名称', trigger: 'blur' },
                    ],
                    price: [
                        { required: true, message: '请填写价格', trigger: 'blur' }
                    ]
                }
            }
        },
        created(){
            this.fetchArticle({s: this.s});
        },
        computed: {
            ...article.mapState(['list', 'total']),
        },
        watch: {
            images(n, o){
                console.log('n', n)
                console.log('o', o)
            },
            total (n, o) {
                console.log('total', n)
                console.log('total', o)
            }
        },
    	components: {
    		headTop, upload
    	},
        methods: {
            ...article.mapActions(['fetchArticle', 'addItem', 'update', 'delete']),
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.s = val
                this.fetchArticle({s: val});
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchArticle({s: this.s, p: val - 1});
            },
            handleEdit(row) {
                const {pic, categoryId} = row || {};
                this.updateModalVisible = true;
                this.updateItem = {...row};
                this.images = pic ? [{ name: Date.now(), url: pic }] : []
            },
            handleDelete(index, row) {
                const {id} = row
                this.delete({
                    id, 
                    resolve: () => {
                        this.fetchArticle({s: this.s, p: this.currentPage - 1});
                    }
                })
            },
            renderCategaryCell(row, col, cell){
                const item = ArticleCategories && ArticleCategories.find(it => it.value == cell);
                return item ? item.label : '--'
            },
            onResolve(res){
                this.$message({
                     type: 'success',
                     message: '修改成功'
                })
                this.updateModalVisible = false
                this.fetchArticle({s: this.s, p: this.currentPage - 1});
            },
            handleOk (formName) {
                 this.$refs[formName].validate(valid => {
                     if(valid){
                         let data = { ...this.updateItem }
                         if(data && this.images && this.images.length){
                             let pic = this.images.reduce((str, it) => {
                                 if(it.url){
                                     str += it.url + ','
                                 }
                                 return str
                             }, '')
                             data.pic = pic.slice(0, -1)
                         }
                         if(data.price){
                             data.price = parseFloat(data.price) * 100
                         }
                         const article = {...data}
                         if(this.updateItem.id){
                             this.update({article, resolve: this.onResolve})
                         }else{
                             this.addItem({article, resolve: this.onResolve})
                         }
                         
                     }else{
                       console.log('error submit!!');
                       return false;
                     }
                 })
            }
        },
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .table_container{
        padding: 20px;
    }
    .Pagination{
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
    }
    .table-cell-img {
        width: 100px;
        padding: 20px 0;
    }
    .table-cell-summary {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
