<template>
    <div class="fillcontain">
        <head-top :buttons="buttons"></head-top>
        <div class="table_container">
            <el-table
                :data="list"
                :row-key="row => row.index"
                style="width: 100%"
                :stripe="true">
                <el-table-column
                  label="ID"
                  prop="id"
                  :width="100">
                </el-table-column>
                <el-table-column
                  label="配图"
                  prop="picUrls">
                  <template slot-scope="scope">
                      <img :src="scope.row.picUrls" class="table-cell-img">
                  </template>
                </el-table-column>
                <el-table-column
                  label="商品名称"
                  prop="title"
                  :min-width="150">
                  <template slot-scope="scope">
                        <p  class="tabel-cell-title">{{scope.row.title}}</p>
                  </template>
                </el-table-column>
                <!-- <el-table-column
                  label="京东链接"
                  prop="jdUrl">
                  <template slot-scope="scope">
                        <p class="table-cell-summary">
                                {{scope.row.jdUrl}}
                        </p>
                  </template>
                </el-table-column> -->
                <el-table-column
                  label="分类"
                  prop="categoryId"
                  :formatter="renderCategaryCell"
                  >
                </el-table-column>
                <el-table-column
                  label="价格"
                  prop="price"
                  :formatter="renderPriceCell"
                  >
                </el-table-column>
                 <!-- <el-table-column
                  label="简介"
                  prop="description"
                  :min-width="150">
                    <template slot-scope="scope">
                        <p class="tabel-cell-desc">{{scope.row.description}}</p>
                  </template>
                </el-table-column> -->
                <el-table-column
                  label="类型"
                  prop="type"
                  :formatter="renderTypeCell"
                  >
                </el-table-column>
                <el-table-column label="操作" width="160">
                  <template slot-scope="scope">
                    <el-button
                      size="small"
                      @click="handleEdit(scope.row)">编辑</el-button>
                    <el-button
                      size="small"
                      type="danger"
                      @click="handleDelete(scope.$index, scope.row)">删除</el-button>
                  </template>
                </el-table-column>
            </el-table>
            <div class="Pagination">
                <el-pagination
                   @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-sizes="[10, 20, 50]"
                  :page-size="s"
                  layout="sizes, total, prev, pager, next"
                  :total="total">
                </el-pagination>
            </div>
            <el-dialog title="修改商品信息" v-model="updateModalVisible" class="goods-update-dialog">
                <el-form :model="updateItem" :rules="rules" ref="goodsUpdateForm">
                    <el-form-item label="商品名称" label-width="100px" prop="title">
                        <el-input v-model="updateItem.title" auto-complete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="京东链接" label-width="100px">
                        <el-input type="textarea" :rows="2" v-model="updateItem.jdUrl"></el-input>
                    </el-form-item>
                    <el-form-item label="分类" label-width="100px" required>
	                    <el-select v-model="updateItem.categoryId" placeholder="请选择分类">
						    <el-option
						      v-for="item in goodsCategories"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
                    </el-form-item>
                    <el-form-item label="价格" label-width="100px" prop="price">
                        <el-input type="number" v-model="updateItem.price">
                            <template slot="prepend">¥</template>
                        </el-input>
                    </el-form-item>
                    <el-form-item label="简介" label-width="100px">
                        <el-input type="textarea" :rows="2" v-model="updateItem.description"></el-input>
                    </el-form-item>
                    <el-form-item label="商品类型" label-width="100px">
                        <el-select v-model="updateItem.type" placeholder="请选择商品类型">
						    <el-option
						      v-for="item in goodsTypes"
						      :key="item.value"
						      :label="item.label"
						      :value="item.value">
						    </el-option>
						</el-select>
                    </el-form-item>
                    <el-form-item label="商品图片" label-width="100px">
                        <upload 
                        :showFiles="true"
                        :multiple="false"
                        :value="images"
                        @update="val => images = val"
                        ></upload>
                    </el-form-item>
                </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="updateModalVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleOk('goodsUpdateForm')">确 定</el-button>
              </div>
            </el-dialog>
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import upload from '../components/elUpload'
    import { GoodsCategories, GoodsTypes } from '../utils/const'
    import { mapActions, createNamespacedHelpers } from 'vuex'

    const goods = createNamespacedHelpers('goods');

    export default {
        data(){
            return {
                specs: [],
                city: {},
                offset: 0,
                s: 10,
                images: [],
                deleteConfirmVisible: false,
                currentPage: 1,
                updateItem: {},
                updateModalVisible: false,
                goodsCategories: GoodsCategories,
                goodsTypes: GoodsTypes,
                buttons: [{name: 'create', onClick: this.handleEdit}],
                rules: {
                    title: [
                        { required: true, message: '请输入商品名称', trigger: 'blur' },
                    ],
                }
            }
        },
        created(){
            this.fetchGoods({s: this.s});
        },
        computed: {
            ...goods.mapState(['list', 'total']),
        },
        watch: {
            images(n, o){
                console.log('n', n)
                console.log('o', o)
            }
        },
    	components: {
    		headTop, upload
    	},
        methods: {
            ...goods.mapActions(['fetchGoods', 'addItem', 'update', 'delete']),
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.s = val
                this.fetchGoods({s: val});
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchGoods({s: this.s, p: val - 1});
            },
            handleEdit(row) {
                const {picUrls, categoryId, price} = row || {};
                this.updateModalVisible = true;
                this.updateItem = {...row};
                if(price){
                    this.updateItem.price = parseFloat(price)/100
                }
                this.images = picUrls ? [{ name: Date.now(), url: picUrls }] : []
            },
            handleDelete(index, row) {
                const {id} = row
                this.deleteConfirmVisible = false
                this.delete({
                    id, 
                    resolve: () => {
                        this.fetchGoods({s: this.s, p: this.currentPage - 1});
                    }
                })
            },
            renderCategaryCell(row, col, cell){
                const item = GoodsCategories && GoodsCategories.find(it => it.value == cell);
                return item ? item.label : '--'
            },
            renderTypeCell(row, col, cell){
                const item = GoodsTypes && GoodsTypes.find(it => it.value == cell);
                return item ? item.label : '--'
            },
            renderPriceCell(r, c ,cell){
                return cell ? parseFloat(cell)/100 : '--'
            },
            onResolve(res){
                this.$message({
                     type: 'success',
                     message: '修改成功'
                })
                this.updateModalVisible = false
                this.fetchGoods({s: this.s, p: this.currentPage - 1});
            },
            handleOk (formName) {
                 this.$refs[formName].validate(valid => {
                     if(valid){
                         let data = { ...this.updateItem }
                         if(data && this.images && this.images.length){
                             let picUrls = this.images.reduce((str, it) => {
                                 if(it.url){
                                     str += it.url + ','
                                 }
                                 return str
                             }, '')
                             data.picUrls = picUrls.slice(0, -1)
                         }
                         if(data.price){
                             data.price = parseFloat(data.price) * 100
                         }
                         const item = {...data}
                         if(this.updateItem.id){
                             this.update({item, resolve: this.onResolve})
                         }else{
                             this.addItem({item, resolve: this.onResolve})
                         }
                         
                     }else{
                       console.log('error submit!!');
                       return false;
                     }
                 })
            }
        },
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .table_container{
        padding: 20px;
    }
    .Pagination{
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
    }
    .table-cell-img {
        width: 100px;
        padding: 20px 0;
    }
    .table-cell-summary {
        font-size: 12px;
        line-height: 16px;
    }
    .tabel-cell-desc {
        font-size: 12px;
        line-height: 16px;
    }
    .tabel-cell-title {
        font-size: 14px;
        line-height: 18px;
    }
</style>
