<template>
    <div class="fillcontain">
        <head-top></head-top>
        <div class="table_container">
            <el-table
                :data="list"
                :row-key="row => row.index"
                style="width: 100%"
                :stripe="true">
                <el-table-column
                  label="ID"
                  prop="id">
                </el-table-column>
                <el-table-column
                  label="头像"
                  prop="profilePic">
                  <template slot-scope="scope">
                      <img :src="scope.row.profilePic" class="table-cell-img">
                  </template>
                </el-table-column>
                <el-table-column
                  label="昵称"
                  prop="nickName">
                </el-table-column>
                <el-table-column label="操作" width="160">
                  <template slot-scope="scope">
                    <el-button
                      size="small"
                      @click="handleView(scope.row)">查看申请记录</el-button>
                  </template>
                </el-table-column>
            </el-table>
            <div class="Pagination">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-sizes="[10, 20, 50]"
                  :page-size="s"
                  layout="sizes, total, prev, pager, next"
                  :total="total">
                </el-pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import upload from '../components/elUpload'
    import { mapActions, createNamespacedHelpers } from 'vuex'

    const user = createNamespacedHelpers('user');

    export default {
        data(){
            return {
                specs: [],
                city: {},
                offset: 0,
                s: 10,
                images: [],
                currentPage: 1,
            }
        },
        created(){
            this.fetchUserList({s: this.s});
        },
        computed: {
            ...user.mapState(['list', 'total']),
        },
        watch: {
        },
    	components: {
    		headTop, upload
    	},
        methods: {
            ...user.mapActions(['fetchUserList']),
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.s = val
                this.fetchUserList({s: val});
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                this.fetchUserList({s: this.s, p: val - 1});
            },
            handleView (row) {
                const { id } = row
                if (id !== undefined) {
                    this.$router.push({name: 'userDetail', query: { id }})
                }
            }
        },
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .table_container{
        padding: 20px;
    }
    .Pagination{
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
    }
    .table-cell-img {
        width: 55px;
        padding: 20px 0;
    }
    .table-cell-summary {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
</style>
