<template>
    <div class="user-detail">
        <head-top></head-top>
        <div class="table_container">
            <el-table
                :data="item"
                stripe
                :max-height="innerHeight"
                :row-key="row => row.index"
                style="width: 100%"
                :stripe="true">
                <el-table-column
                  label="ID"
                  prop="id">
                </el-table-column>
                <el-table-column
                  label="申请商品"
                  prop="itemList">
                  <template slot-scope="scope">
                      <ul class="render-detail-cell">
                          <li v-for="(v, i) in scope.row.itemList" :key="i">
                              <img :src="v.picUrls">
                              <div>
                                  <h3>{{v.title}}</h3>
                                  <p>{{v.cate}}</p>
                                  <p>{{v.price ? `¥${parseFloat(v.price)/100}` : '--'}}</p>
                              </div>
                          </li>
                      </ul>
                  </template>
                </el-table-column>
                <el-table-column
                  label="姓名"
                  prop="name">
                </el-table-column>
                <el-table-column
                  label="地址"
                  prop="province">
                  <template slot-scope="scope">
                      <p>{{`${scope.row.province} - ${scope.row.city || ''} - ${scope.row.district || ''}`}}</p>
                      <p>{{`${scope.row.address || ''}`}}</p>
                  </template>
                </el-table-column>
            </el-table>
            <!-- <div class="Pagination">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :current-page.sync="currentPage"
                  :page-sizes="[10, 20, 50]"
                  :page-size="s"
                  layout="sizes, total, prev, pager, next"
                  :total="itemTotal">
                </el-pagination>
            </div> -->
        </div>
    </div>
</template>

<script>
    import headTop from '../components/headTop'
    import { mapActions, createNamespacedHelpers } from 'vuex'

    const user = createNamespacedHelpers('user');

    export default {
        data(){
            return {
                specs: [],
                city: {},
                offset: 0,
                s: 10,
                currentPage: 1,
                innerHeight: window.innerHeight - 140,
                itemId: this.$route.query.id
            }
        },
        created(){
            if (this.itemId !== undefined) {
                this.fetchItem({id: this.itemId, s: this.s});
            }
        },
        computed: {
            ...user.mapState(['item', 'itemTotal']),
        },
        watch: {
            item (n, o) {
                console.log('n', n)
            }
        },
    	components: {
    		headTop
    	},
        methods: {
            ...user.mapActions(['fetchItem']),
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.s = val
                if (this.itemId !== undefined) {
                    this.fetchItem({id: this.itemId, s: val});
                }
            },
            handleCurrentChange(val) {
                this.currentPage = val;
                if (this.itemId !== undefined) {
                    this.fetchItem({id: this.itemId, s: this.s, p: val - 1});
                }
            },
        },
    }
</script>

<style lang="less">
	@import '../style/mixin';
    .demo-table-expand {
        font-size: 0;
    }
    .demo-table-expand label {
        width: 90px;
        color: #99a9bf;
    }
    .demo-table-expand .el-form-item {
        margin-right: 0;
        margin-bottom: 0;
        width: 50%;
    }
    .table_container{
        padding: 20px;
    }
    .Pagination{
        display: flex;
        justify-content: flex-start;
        margin-top: 8px;
    }
    .user-detail {
        .render-detail-cell {
            padding: 20px 0;
            img {
                float: left;
                width: 100px;
                height: auto;
            }
            h3 {
                font-weight: normal;
                font-size: 14px;
                line-height: 18px
            }
            p {
                font-size: 12px;
                text-align: left;
                width: 100%;
                line-height: 18px;
            }
            li {
                display: block;
                overflow: hidden;
                margin-bottom: 10px;
            } 
            
            li > div {
                width: 50%;
                float: right;
            }
        }
    }
</style>
